<div class="container"
    *ngFor="let item of ingredientInfo">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img
                src='https://www.thecocktaildb.com/images/ingredients/{{item.strIngredient}}.png'
                class="card-img-top"
                alt="...">
            <p class="card-text p-2"> </p>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{item.trIngredient}}</h5>
                <p class="card-text ">{{item.strDescription}}</p>
                <p class="card-text p-1"></p>
            </div>
        </div>
    </div>
</div>

<!-- idIngredient: "16"
strABV: null
strAlcohol: "No"
strDescription: null
strIngredient: "Almond Flavoring"
strType: null -->