<div class="card h-100 m-0 card-item">
    <div class="maska ">
        <p class="white-text">read more</p>
    </div>
    <img
        src="https://www.thecocktaildb.com/images/ingredients/{{ingredient.strIngredient}}-Medium.png"
        class="card-img-top"
        alt="...">
    <div class="card-body p-0">
        <p>{{ingredient.strIngredient}} </p>
        <!--   <a class="btn btn-primary"
                    routerLink={{item.id}}
                    routerLinkActive="router-link-active">More Details</a> -->
    </div>

</div>