<div class="container card mb-3">
    <div
        class="row no-gutters"
        *ngFor="let item of ingredientInfo? ingredientInfo : cocktail">
        <div class="col-md-4">
            <h5 class="card-title text-center">{{(ingredientInfo)?  item.strIngredient : item.strDrink}}</h5>
            <img
                *ngIf="ingredientInfo"
                src="https://www.thecocktaildb.com/images/ingredients/{{item.strIngredient}}.png" class="card-img"
                alt="...">
            <img
                *ngIf="!ingredientInfo"
                src="{{item.strDrinkThumb}}" class="card-img" alt="...">

            <h5 class="card-title text-center">{{(ingredientInfo)?  'Description:' : "Instructions:" }}</h5>
            <p class="card-text">{{(ingredientInfo)?  item.strDescription : item.strInstructions}}

            </p>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title text-center">{{(ingredientInfo)?  'Cocktails:' : "Ingredients:"}}</h5>
                <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4  wrap-box">
                    <div
                        *ngFor="let content of ingredientInfo? listCocktail : listIngrediends"
                        class="card card-item  content-wrapper">
                        <a href="https://angular-the-cocktail-db.web.app/double-page/{{(!ingredientInfo)? content.idIngredient : content.idDrink}}"
                            class="white-text"
                            routerLinkActive="router-link-active">
                            <img
                                *ngIf="!ingredientInfo"
                                src="https://www.thecocktaildb.com/images/ingredients/{{content.strIngredient}}.png"
                                class="card-img"
                                alt="...">
                            <img
                                *ngIf="ingredientInfo"
                                src="{{content.strDrinkThumb}}/preview" class="card-img" alt="...">
                            <div class="card-body p-0">
                                <p>{{(!ingredientInfo)? content.strIngredient : content.strDrink}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>