:host {
    box-shadow: 0 0 20px grey;

    img {
        box-shadow: 0 0 20px grey;
    }

    a {
        text-decoration: none;
        color          : black;
    }
}

@media screen and (max-width: 550px) {
    :host {
        width: 100%;

        .card-item {
            width: 120px;
        }
    }
}