<div class="container">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img
                src='{{cocktail.strDrinkThumb}}'
                class="card-img-top"
                alt="...">
            <p class="card-text p-2"> </p>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{cocktail.strDrink}}</h5>
                <p class="card-text ">{{cocktail.strInstructions}}</p>
                <p class="card-text p-1">  cocktail</p>
            </div>
        </div>
    </div>
    <!-- </div>
dateModified: "2016-10-05 12:36:28"
idDrink: "15346"
strAlcoholic: "Alcoholic"
strCategory: "Cocktail"
strCreativeCommonsConfirmed: "No"
strDrink: "155 Belmont"
strDrinkAlternate: null
strDrinkDE: null
strDrinkES: null
strDrinkFR: null
strDrinkThumb: "https://www.thecocktaildb.com/images/media/drink/yqvvqs1475667388.jpg"
"strDrinkZH-HANS": null
"strDrinkZH-HANT": null
strGlass: "White wine glass"
strIBA: null
strIngredient1: "Dark rum"
strIngredient10: null
strIngredient11: null
strIngredient12: null
strIngredient13: null
strIngredient14: null
strIngredient15: null
strIngredient2: "Light rum"
strIngredient3: "Vodka"
strIngredient4: "Orange juice"
strIngredient5: null
strIngredient6: null
strIngredient7: null
strIngredient8: null
strIngredient9: null
strInstructions: "Blend with ice. Serve in a wine glass. Garnish with carrot."
strInstructionsDE: "Mit Eis vermischen. In einem Weinglas servieren. Mit Karotte garnieren."
strInstructionsES: null
strInstructionsFR: null
"strInstructionsZH-HANS": null
​​
"strInstructionsZH-HANT": null
​​
strMeasure1: "1 shot "
​​
strMeasure10: null
​​
strMeasure11: null
​​
strMeasure12: null
​​
strMeasure13: null
​​
strMeasure14: null
​​
strMeasure15: null
​​
strMeasure2: "2 shots "
​​
strMeasure3: "1 shot "
​​
strMeasure4: "1 shot "
​​
strMeasure5: null
​​
strMeasure6: null
​​
strMeasure7: null
​​
strMeasure8: null
​​
strMeasure9: null
​​
strTags: null
​​
strVideo: null -->