:host {
    min-width : 50%;
    box-shadow: 0 0 20px grey;

    .card {

        .card-body {
            text-align: center;
            font-size : .7rem;
            padding   : .7rem;
        }

        .add-btn {
            position : absolute;
            bottom   : 0.1rem;
            right    : 0.1rem;
            font-size: 2.5rem;
            opacity  : 0.8;
            cursor   : pointer;
            z-index  : 222;
        }
    }

}

@media screen and (max-width: 550px) {
    :host {
        width: 100%;

        .card-item {
            width: 120px;
        }
    }
}