<nav class="navbar navbar-expand-sm navbar-dark bg-dark animated fadeInDown"

    id="navbar">
    <ul class="navbar-nav">
        <li class="nav-item"
            routerLinkActive="active">
            <a class="nav-link"
                routerLink="double-page">Main</a>
        </li>
        <li class="nav-item"
            routerLinkActive="active">
            <a class="nav-link"
                routerLink="cocktails">Cocktails</a>
        </li>
        <li class="nav-item"
            routerLinkActive="active">
            <a class="nav-link"
                routerLink="ingredients">Ingredients</a>
        </li>
    </ul>
    <div class="wrap">
        <span *ngIf="listIng.length > 0" class="coutIngred">
            {{listIng.length}}
        </span>
        <span class="material-icons"
            [ngStyle]="listIng.length > 0? {'text-shadow': '0 0 5px white'} :  {'color': 'rgba(255, 255, 255, 0.557)'}"
            (click)="openModal()">shopping_cart
        </span>
    </div>
</nav>