<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <ul class="navbar-nav">
        <li class="nav-item"
            routerLinkActive="active">
            <a class="nav-link"
                routerLink="todos">Main</a>
        </li>
        <li class="nav-item"
            routerLinkActive="active">
            <a class="nav-link"
                routerLink="about">Coctails</a>
        </li>
        <li class="nav-item"
            routerLinkActive="active">
            <a class="nav-link"
                routerLink="about">Ingredients</a>
        </li>
    </ul>
</nav>